.element-panel-title {
    color: var(--main-color);
}

.span_button {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);

    user-select: none;
    cursor: pointer;
}

.span_button:hover {
    background-color: #0000000f;
}


.documentation-link {
    color: var(--main-color);
}
