.configuration-title {
    color: var(--main-color);
}

.configuration-input-label {
    color: var(--secondary-color);
}

.configuration-input {
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

.code-display-container {
    position: absolute;
    width: 100vw;
    height: 100vh;

    top: 0;
    right: 0;
    z-index: 1000;

    background-color: #000000b9;
}

.code-display-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-close {
    user-select: none;
    cursor: pointer;

    font-size: 28px;
}

.configuration-btn {
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
}

.delete-btn {
    border-color: var(--delete-color);
    color: var(--delete-color);
}
.info-btn {
    background-color: var(--secondary-color);
    border-color: var(--main-color);
    color: var(--main-color);
}