.draggable-canvas {
    width: 2000px;
    height: 2000px;

    background-image: radial-gradient(var(--secondary-color) 2px, transparent 2px);
    background-size: 35px 35px;
    background-color: var(--panel-background);
}

#board-controls-container {
    right: 10px;
    bottom: 10px;
}

.board-control {
    width: 25px;
    font-size: 18px;
    font-weight: 600;

    border: none;

    outline: 2px solid var(--main-color);
    background-color: #ffffff;
    color: var(--main-color);
}
.board-control:hover {
    background-color: #b8b8b8;
}