.draggable-canvas {
    width: 2000px;
    height: 2000px;

    background-image: radial-gradient(var(--secondary-color) 2px, transparent 2px);
    background-size: 35px 35px;
    background-color: var(--canvas-background);
}

#board-controls-container {
    right: 10px;
    bottom: 10px;
}

.board-control {
    min-width: 30px;
    font-size: 18px;
    font-weight: 600;

    background-color: #ffffff;
    color: var(--main-color);

    outline: none;

    border: 2px solid var(--main-color);
    border-radius: 5px;
}
.board-control:hover {
    background-color: #b8b8b8;
}