.selected_element::after {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);

    top: -10px;
    left: -10px;

    position: absolute;
    z-index: 100;

    outline: 1.5px solid#c90000;
    border-radius: 3px;
}

.draggable-Window {
    outline: 2px solid #d1d1d1;
    min-width: 100px;
    min-height: 100px;

    cursor: move;
}

.draggable-Button {
    outline: 2px solid #6b6b6b;
    /* min-width: 100px;
    min-height: 20px; */

    cursor: move;
}

.draggable-Entry {
    outline: 2px solid #6b6b6b;
    /* min-width: 100px;
    min-height: 20px; */

    cursor: move;
}

.draggable-Text {
    outline: 2px solid #6b6b6b;
    /* min-width: 100px;
    min-height: 20px; */

    cursor: move;
}