.selected_element::after {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);

    top: -10px;
    left: -10px;

    position: absolute;
    z-index: 100;

    outline: 1.5px solid#c90000;
    border-radius: 3px;
}

.default-element {
    user-select: none;
}

.draggable-Window,
.draggable-Button,
.draggable-Entry,
.draggable-Text,
.draggable-Combobox
{
    outline: 2px solid #d1d1d1;
    cursor: move;
}

.draggable-Window {
    min-width: 100px;
    min-height: 100px;
}

.draggable-Combobox {
    padding: 0 5px;
    text-align: left !important;
    min-width: 150px;
}
.draggable-Combobox::before {
    content: ">";

    position: absolute;
    right: 10px;
    transform: rotateZ(90deg);
}