:root {
  --main-color: #00487C;
  --secondary-color: #5FA5F7;
  --delete-color: #B30000;
}

body {
  margin: 0;
  font-family: "Montserrat", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
